<!DOCTYPE html>
<html>
<head>
	<title>Something is amiss (404)</title>
	<style type="text/css">
		body{
			margin:40px auto;
			max-width:650px;
			line-height:1.6;
			font-size:18px;
			color:#444;
			padding:0 10px
			}
		
		h1,h2,h3{
			line-height:1.2
			}
		
		footer{
			border-top: 1px solid #444;
			padding: 10px;
			font-size: smaller;
			font-family: sans-serif;
			}
		</style>
		
		
</head>

<body>


<div>
   <h1 id="title">There doesn't seem to be a page here</h1>
   
   All content published prior to January 2021 has been moved to the archives. You may have better luck there...
   
   <strong><a href="https://archive.baty.net/posts/">archive.baty.net</a></strong>
   
</div>


</body>
</html>


